[Unit]
Description=postgrest service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=postgrest
ExecStart=/usr/local/bin/postgrest /opt/postgrest/postgrest.conf

[Install]
WantedBy=multi-user.target
